fastapi>=0.110.0
uvicorn>=0.27.0
python-dotenv>=1.0.0
pymongo>=4.6.0
httpx>=0.27.0
langchain>=0.1.0
langchain-cerebras
langchain-voyageai
langchain-mongodb
langchain-community
duckduckgo-search
motor>=3.3.0
websockets>=12.0
regex
pydantic>=2.0.0
certifi>=2024.0.0
orjson
