fastapi==0.128.0
uvicorn==0.40.0
langchain-cerebras
langchain-voyageai
langchain-mongodb
langchain-community
langchain-core
langchain-text-splitters
langgraph
pymongo
certifi
python-dotenv
duckduckgo-search
websockets